<%- include('partials/header'); -%>

<form>
    <h2>Account Setup</h2>
    <label for ="height">Height</label>
    <input type="number" name="height" required />
    <div class="height error"></div>
    <label for ="weight">Weight</label>
    <input type="number" name="weight" required />
    <div class="weight error"></div>
    <label for ="age">Age</label>
    <input type="number" name="age" required />
    <div class="age error"></div>
    <label for ="skin">Skin Tone</label>
    <input type="number" name="skin" required />
    <div class="skin error"></div>
    <button>Calculate</button>
</form>

<script>
    const form = document.querySelector('form');

    form.addEventListener('submit', async (e) => {
        e.preventDefault();

        // //reset errors
        // emailError.textContent = '';
        // passwordError.textContent = '';


        //get the values
        const height = form.height.value;
        const weight = form.weight.value;
        const age = form.age.value;
        const skin = form.skin.value;

        try {
            const res = await fetch('/accountsetup', {
                method: 'POST',
                body: JSON.stringify({ height: height, weight: weight, age: age, skin: skin}),
                headers: { 'Content-Type' : 'application/json' }
            });
            const data = await res.json(); //to get data out of above we need th json method
            console.log(data);
            if(data.errors) {
                // emailError.textContent = data.errors.email;
                // passwordError.textContent = data.errors.password;
                console.log(data.errors);
            }
            if(data.detail){
                location.assign(`/userpage/${data.detail}`);
            }
        } catch (error) {
            console.log(error);
        }
    });
</script>

<%- include('partials/footer'); -%>

