<%- include('partials/header'); -%>

<% if (user) { %>
    <form>
        <h2>Calculate Daily Sunscreen Needs</h2>
        <label for ="outdoor">Outdoor</label>
        <input type="number" name="outdoor" required />
        <div class="outdoor error"></div>
    </form>
  <% } else { %> 
    <form>
        <h2>Calculate Daily Sunscreen Needs</h2>
        <label for ="height">Height</label>
        <input type="number" name="height" required />
        <div class="height error"></div>
        <label for ="weight">Weight</label>
        <input type="number" name="weight" required />
        <div class="weight error"></div>
        <button>Calculate</button>
    </form>
  <% } %>    

<div class="result"></div>

<script>
    const form = document.querySelector('form');

    form.addEventListener('submit', async (e) => {
        e.preventDefault();

        //get the values
        const height = form.height.value;
        const weight = form.weight.value;

        try {
            const res = await fetch('/calculate', {
                method: 'POST',
                body: JSON.stringify({ weight, height}),
                headers: { 'Content-Type' : 'application/json' }
            });
            const result = await res.json(); //to get data out of above we need th json method
            console.log(result);

            const sunscreenAmount = document.querySelector('.result');

            if(sunscreenAmount) {
                sunscreenAmount.innerHTML = `Result: ${result.sunscreenResult}`;
                //location.assign('/');
            } else {
                console.error('Result not found');
            }
        } catch (error) {
            console.log(error);
        }
    });
</script>

