<%- include('partials/header'); -%>

<header>
  <div class="headings">
    <h2>Do not forget about your daily sunscreen needs...</h2>
    <a href="/calculate" class="btn">Get Reading Now</a>
  </div>
</header>


<%- include('partials/footer'); -%>